body{
         /*background-image: url('../static/images/ipl.jpeg');*/
         height: 75%;
         background-position: left;
         background-repeat: no-repeat;
         background-size: 500px 300px;
    }
#innings{
    display: none;
    max-width: 50%;
    /*align-self: center;*/
}
#venue{display: none;}
#bowlers{display:none;}
img {
    /*float: left;*/
    width:  150px;
    height: 150px;
    /*object-fit: cover;*/
}
/*#kkr{
    width: 100px;
    height: 100px;
}*/
.card{
    width: 50px;
    height: 250px;
}
.row {
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  /*flex: 25%;*/
  max-width: 25%;
  padding: 10 10px;
}
#navbar-image{
    width : 50px;
    height : 50px;
}
/*#venue-row1{
  max-width: 33%;
}
#venue-row2{
  max-width: 50%;
}*/

form{
    /*display: none;*/
}

/*Grid layout*/
#batTeam, #bowlTeam, #innings{
  display: none;
  grid-template-columns: 20% 20% 20% 20%;
  column-gap: 55px;
  grid-row-gap: 5px;
}

#innings{grid-template-columns: 50% 50%;}

#batTeam div, #bowlTeam div, #innings div {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border: 1px solid lightgrey;
  padding: 10px;
  transition: all 0.1s;
}

#batTeam div:hover{
  border: 2px solid grey;
  background: #fafafa;
}
#batTeam p, #bowlTeam p, #innings p{
  text-align: center;
}









